


.imageicon{
	width: 100px;
	height: 100px;
	display: block;
	margin:0 auto;
}
.mimageicon{
	width: 55px;
	height: 55px;
	display: block;
	margin:0 auto;
}




span.internet {
	background: url('../images/icons-claro.png') no-repeat 0 0px;
}

span.linea {
	background: url('../images/icons-claro.png') no-repeat 0 -100px;
}

span.clarotv {
	background: url('../images/icons-claro.png') no-repeat 0 -200px;
}

span.movil {
	background: url('../images/icons-claro.png') no-repeat 0 -300px;
}

span.linea_internet {
	background: url('../images/icons-claro.png') no-repeat 0 -400px;
}

span.minutos {
	background: url('../images/icons-claro.png') no-repeat 0 -500px;
}

span.linea_inalambrica {
	background: url('../images/icons-claro.png') no-repeat 0 -600px;
}

span.linea_colgada {
	background: url('../images/icons-claro.png') no-repeat 0 -700px;
}

span.clarotvdth {
	background: url('../images/icons-claro.png') no-repeat 0 -800px;
}

span.doble_cable {
	background: url('../images/icons-claro.png') no-repeat 0 -900px;
}

span.doble_sat {
	background: url('../images/icons-claro.png') no-repeat 0 -1000px;
}
span.triple_cable {
	background: url('../images/icons-claro.png') no-repeat 0 -1100px;
}

span.triple_sat {
	background: url('../images/icons-claro.png') no-repeat 0 -1200px;
}





span.minternet {
	background: url('../images/mini-icons-claro.png') no-repeat 0 0px;
}

span.mlinea {
	background: url('../images/mini-icons-claro.png') no-repeat 0 -55px;
}

span.mclarotv {
	background: url('../images/mini-icons-claro.png') no-repeat 0 -110px;
}

span.mmovil {
	background: url('../images/mini-icons-claro.png') no-repeat 0 -165px;
}

span.mlinea_internet {
	background: url('../images/mini-icons-claro.png') no-repeat 0 -220px;
}

span.mminutos {
	background: url('../images/mini-icons-claro.png') no-repeat 0 -275px;
}

span.mlinea_inalambrica {
	background: url('../images/mini-icons-claro.png') no-repeat 0 -330px;
}

span.mlinea_colgada {
	background: url('../images/mini-icons-claro.png') no-repeat 0 -388px;
}

span.mclarotvdth {
	background: url('../images/mini-icons-claro.png') no-repeat 0 -441px;
}

span.mdoble_cable {
	background: url('../images/mini-icons-claro.png') no-repeat 0 -498px;
}

span.mdoble_sat {
	background: url('../images/mini-icons-claro.png') no-repeat 0 -554px;
}
span.mtriple_cable {
	background: url('../images/mini-icons-claro.png') no-repeat 0 -609px;
}

span.mtriple_sat {
	background: url('../images/mini-icons-claro.png') no-repeat 0 -664px;
}





.mright{
	margin-left:10px;
}
